# HW 1: Basic Python Programming
#### CPE232 Data Models
---

## 1. Basic usage

> John Doe is a 29 years-old system engineer who earns ฿41500.00 a month.

Create and assign variables to store this person's information (name, age, position and salary).

In [6]:
# Write your code here
name = "John Doe"
age = 29
position = "System Enginner"
salary = 415000.00

What is the type of each variables?

In [14]:
# Write your code here
print(type(name))
print(type(age))
print(type(position))
print(type(salary))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>

The manager decides to give John a 7% raise. Update his salary.

In [15]:
# Write your code here
salary *= 1.07

Prints his information again with his new salary.

In [18]:
# Write your code here
print(salary)

NameError: name 'salary' is not defined

Now, he decides to resign. Delete his information from the system.

In [17]:
# Write your code here
del name
del age
del position
del salary

## 2. Variable and Expression

**2.1** Write a code to convert temperature unit from celcius to other units

In [20]:
C = 34.5

**Fahrenheit**  
#### $\frac{C}{5} = \frac{F-32}{9}$

In [21]:
F = C*9/5 - 32

**Kelvin**  
$K = C + 273.15$

In [22]:
K = C + 273.15

**Rømer**  
#### $Ro = \frac{C \times 21}{40} + 7.5$

In [23]:
Ro = C*21/40 +7.5

## 3. Multi-item variables
#### List

In [24]:
names = ['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan']

Create new variable call `new_name` which takes input name of the user.

In [25]:
new_name = input('Enter your name: ')

Insert `new_name` into `names` list.

In [26]:
# Write your code here
names.append(new_name)
print(names)

['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan', 'Romain']

Select your name from the list

In [29]:
# Write your code here
for name in names:
    if(name == new_name ):
        print("We found", name)

We found Romain

Merge `another_names` into `names`.

In [31]:
another_names = ['Peter', 'Steve', 'Sam', 'Charlotte']

In [34]:
# Write your code here
names.extend(another_names)
names

['Thomas',
 'Kate',
 'Mike',
 'Amelia',
 'James',
 'Megan',
 'Romain',
 'Peter',
 'Steve',
 'Sam',
 'Charlotte']

Change `Amelia`'s name to `Amy`

In [35]:
# Write your code here
if "Amelia" in names:
    index = names.index("Amelia")
    names[index] = "Amy"
    
names

['Thomas',
 'Kate',
 'Mike',
 'Amy',
 'James',
 'Megan',
 'Romain',
 'Peter',
 'Steve',
 'Sam',
 'Charlotte']

#### Dictionary

In [36]:
capital_city = {'England':'London',
                'Spain':'Madrid',
                'Japan':'Tokyo',
                'Australia':'Sydney',
                'Germany':'Berlin',
               }

Add a record `Thailand` and it's capital city to this dictionary

In [38]:
# Write your code here
capital_city['Thailand'] = 'Bangkok'
capital_city

{'England': 'London',
 'Spain': 'Madrid',
 'Japan': 'Tokyo',
 'Australia': 'Sydney',
 'Germany': 'Berlin',
 'Thailand': 'Bangkok'}

You may notice that the capital city of `Australia` is wrong. It should be `Canberra`. Correct this mistake.

In [40]:
# Write your code here
capital_city["Australia"] = "Camberra"
capital_city

{'England': 'London',
 'Spain': 'Madrid',
 'Japan': 'Tokyo',
 'Australia': 'Camberra',
 'Germany': 'Berlin',
 'Thailand': 'Bangkok'}

## 4. Control Flows and conditional statements

### if...elif...else

**1.** Define a variable to get input age from user.

In [45]:
age = int(input("Enter your age: "))
age

10

Write a series of if...elif...else statement that categorize input age into following groups:
> Babies: 0-2 years old  
Children: 3-12 years old  
Teenager: 13-19 years old  
Young Adults: 20-29 years old  
Middle-aged Adults: 30-45 years old  
Old Adult: 46-59 years old  
Elderly: Above 60 years old

In [47]:
# Write your code here
if(age <= 2):
    print("Babies")
if(age > 2 and age <=12):
    print("Children")
if(age > 12 and age <=19):
    print("Teenager")
if(age > 19 and age <=29):
    print("Young Adults")
if(age > 29 and age <=45):
    print("Middle-Aged Adults")
if(age > 45 and age <=59):
    print("Old Adults")
if(age > 59):
    print("Eldery")

Children

### Looping

**1.** Write a code to create a multiplication table of an input number (multiplier from 1-12).

In [54]:
# Write your code here
number = int(input("Enter a number:"))

for i in range(1,13):
    result= number * i  
    print(f"{number} * {i} = {result}" )

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36

**2.** Write a code that construct the following pattern.

input: 5  
output: 
*  
**  
***  
****  
*****

In [59]:
# Write your code here
number = int(input("Enter a number"))

for i in range(1, number+1):
    for j in range(0, i):
        print("*", end="")
    print("\n")

*

**

***

****

*****

**3.** Creates a loop to print `I love <programming language>!` except for Assembly, print `Not you, Assembly`.

In [62]:
languages = ['C/C++', 'Python', 'R', 'Java', 'SQLs', 'Assembly', 'Go', 'Rust', 'Kotlin']

In [66]:
# Write your code here

for language in languages:
    if language == "Assembly":
        print("Not you, Assembly")
    else:
        print(f"I love you {language} !")

I love you C/C++ !
I love you Python !
I love you R !
I love you Java !
I love you SQLs !
Not you, Assembly
I love you Go !
I love you Rust !
I love you Kotlin !

**4.** Write a code to print every number from 1 to 25 except the one that is divisible by 3.

In [67]:
# Write your code here
for i in range(1, 26):
    if i % 3==0 :
        continue
    else:
        print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25

**5.** Write a code that finds the number that is divisible by 7 in a given range.

In [68]:
lower_bound = 1
upper_bound = 100
divisor = 7

result = []

In [70]:
# Write your code here
for i in range(lower_bound, upper_bound+1):
    if i%divisor == 0: 
        continue
    else:
        print(i, end=", ")
print("\n")

1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100,

**6.** Write a code that construct the following pattern.

input: 5  
output:  
*#####
**####
***###
****##
*****#

input: 10  
output:  
*##########  
**#########  
***########  
****#######  
*****######  
******#####  
*******####  
********###  
*********##  
**********#

In [81]:
# Write your code here
number = int(input("Enter a number for pattern"))
for i in range(1, number+1):
    for j in range(1, number+1):
        if i>=j:
            print("*", end="")
        else:
            print("#", end="")
    print()

*#########
**########
***#######
****######
*****#####
******####
*******###
********##
*********#
**********

## 5. Functions

**1.** Define a function `average` that takes arbitrary number of arguments and calculate the mean of input.

In [83]:
# Write your code here


def average(*args):
    if not args:
        return 0
    return sum(args)/len(args)

average(10, 100, 50)

53.333333333333336

**2.** Define a function `sumproduct` that takes 2 equal-sized lists and calculate sum of the products of two lists.  
It should look like this:  
> sumproduct([1,2,3],[4,5,6])  
output: 32

(1 * 4) + (2 * 5) + (3 * 6) = 32

In [88]:
# Write your code here
def sumproduct(list1, list2):
    return sum(list1[i]*list2[i] for i in range(len(list1)))

sumproduct([1,2,3],[4,5,6])

32

**3.** Define a function `fibonacci` that returns Fibonacci number at `n` position.  
A Fibonacci number at position `n` is defined by `F(n) = F(n-1) + F(n-2)`. Where `F(0) = 0` and `F(1) = 1`  
**Example:** `0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...`

In [90]:
# Write your code here
def fibonacci(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)
    
fibonacci(10)

55

**4.** Define a function `is_palindrome` that takes input string and check whether it is a palindrome or not.  
A string is a palindrome if it reads the same forward and backwards.  

**Example:** `madam`, `race car`, `borrow or rob`, `amore roma`, `never odd or even`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  

**Hint:** you can reverse the string using `[::-1]` slice.

In [ ]:
str1 = "radar" # palindrome
str2 = "rotator" # palindrome
str3 = "lemon" # not palindrome

In [ ]:
# Write your code here
def is_palindrome(str1):
    return str1 == str1[::-1]

**5.** An `anagram` is a word or phrase formed by rearranging the letters of a different word or phrase.  
Define a function `is_anagram` that takes in 2 strings and check whether it is possible to compose a second string using letters in the first string or not.  

**Example:** `Tom Marrvolo Riddle` can be rearraged into `I am Lord Voldermort`  
`Meaning of Life` can be rearranged into `Engine of a Film`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  
Returns only `True` of `False`

In [ ]:
# Write your code here
str1 = "Meaning of Life"
str2 = "Engine of a Film"

---