# HW 2: Types of Data
#### CPE232 Data Models
---

# Import Dependency

In [8]:
import pandas as pd
import matplotlib.pyplot as plt

# Part 1 : Basic Python

## Task 1

Perform the following:
- Write a program to get input of different types from the user. 
- Display type of each variable.
- Convert a variable of the type float to Integer.
- Demonstrate a comparison of before vs after the type conversion.

In [ ]:
# Input values from the user
string_value = input("Enter a string: ")
integer_value = int(input("Enter an integer: "))
float_value = float(input("Enter a float: "))

In [ ]:
# Display the data types

In [ ]:
# Convert integer to float and vice versa

In [ ]:
# Show before and after convert float to int

## Task 2

Given a dictionary of students with their scores, find the average score of each student across all subjects and identify the student with the highest average score.

In [ ]:
students_grades = {
    "John": [85, 90, 78],
    "Alice": [88, 92, 80],
    "Bob": [75, 85, 72],
    "Diana": [90, 95, 94],
    "Charlie": [70, 65, 80]
}

In [ ]:
# Calculate and print the average grade for each student

In [ ]:
# Find the student with the highest average grade

# Part 2 : Working with CSV!

Add a new column to this CSV file named "Bonus," and calculate the bonus for employees in the Sales department as 10% of their MonthlyRate.

In [2]:
# Load the CSV file
file_path = 'employee_data.csv'
df = pd.read_csv(file_path)

In [3]:
df.head()

,Age,DailyRate,Department,EducationField,Gender,MaritalStatus,MonthlyRate,OverTime
0,41,1102,Sales,Life Sciences,Female,Single,19479,Yes
1,49,279,Research & Development,Life Sciences,Male,Married,24907,No
2,37,1373,Research & Development,Other,Male,Single,2396,Yes
3,33,1392,Research & Development,Life Sciences,Female,Married,23159,Yes
4,27,591,Research & Development,Medical,Male,Married,16632,No

In [ ]:
# Add new column call 'Bonus'

In [ ]:
# Calculate 10% of bonus into the 'Bonus' Column

In [ ]:
# Print and show result

In [ ]:
# Save the updated DataFrame back to a CSV file

# Part 3 : Working with Matplotlib

Plot a graph showing the average salary of employees in each department to compare the average salaries across departments.

In [ ]:
# Load CSV and create DataFrame
data = pd.read_csv('employee_data.csv')
df = pd.DataFrame(data)

In [ ]:
# Calculate average MonthlyRate by Department

In [ ]:
# Plotting the bar chart

# Challenge!!! : Working with SATAN (Optional)

Great job, for not giving up on this subject!

<div>
<img src="https://media2.giphy.com/media/ErZ8hv5eO92JW/200.gif?cid=6c09b952k9ykzx0na1tsrm5sa0gb4m4z39w5z6z65u05oohs&ep=v1_gifs_search&rid=200.gif&ct=g" width="500"/>
</div>

Here’s the story: The CSV file that was given to you isn’t just an ordinary file -- it’s data from an organization where Alya-San works!

<div>
<img src="https://preview.redd.it/all-hail-alya-v0-8tiwrh5d3b3e1.jpeg?auto=webp&s=f22e38e7544697d75f2264f005504e5eb81a9721" width="500"/>
</div>

Alya feels that something suspicious is going on within the company. She suspects that there’s inequality in salaries between male and female employees.

She also wonders if the government might be intervening to encourage population growth by secretly increasing the salaries of married employees compared to those who are single.

Additionally, how much of a difference is there in salaries between employees who graduated from different fields of study?

Can you help Alya prove whether her suspicions are just in her head or if they’re actually true?

For Aria, everyone is truly **e q u a l**.

In [10]:
# Implement code here

Since Kobayashi-san will be reviewing your code, please present the data in a way that is clear and accurate. Otherwise, Kobayashi-san might fire you from the company!

<div>
<img src="https://i.redd.it/gwmyhe5g0av71.gif" width="500"/>
</div>

In [ ]:
# Write your code here